<h3>Añadir nuevo administrador</h3>

<form ng-submit="sendInvitation()">
    <div class="input-group">
          <input ng-model="email" type="text" class="form-control" placeholder="Correo electrónico">
          <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Enviar invitación</button>
          </span>
    </div><!-- /input-group -->
</form>
