<h3>Cambiar contraseña</h3>
<form ng-submit="updatePasswordSend()" id="change_password_form" name="change_password_form" ng-controller="personalDataCtrl">
    {% csrf_token %}
    <div class="modal-body form-horizontal">
        <div class="form-group">
            <input id="old-password" ng-model="password.old_password" class="form-control" placeholder="Contraseña actual" type="password" name="current_password">
        </div>
        <div class="form-group">
            <input id="new-password" ng-model="password.new_password" class="form-control" placeholder="Nueva contraseña" type="password" name="new_password">
        </div>
        <div class="form-group">
            <input id="confirm-password" ng-model="password.confirm_password" class="form-control" placeholder="Confirme su nueva contraseña" type="password" name="confirm_password">
        </div>
    </div>

    <div class="form-group">
        <button name="change_password" id="change_password_submit" type="submit" class="btn btn-default">Guardar cambios</button>
    </div>
</form>