<table class="table table-bordered">
    <thead>
        <tr>
            <th>Correo electrónico</th>
        {% if user.is_superuser %}
            <th>Superusuario</th>
        {% endif %}
            <th>Staff administrativo</th>
            <th>Activo</th>
        </tr>
    </thead>
    <tbody>
            <tr ng-repeat="admin in administrators">
                <td>
                    {% verbatim %}
                        {{ admin.email }}
                    {% endverbatim %}
                </td>
            {% if user.is_superuser %}
                <td>
                    <input onclick="return false;" type="checkbox" ng-model="admin.isSuperuser">
                </td>
            {% endif %}
                <td>
                    <input onclick="return false;" type="checkbox" ng-model="admin.isStaff">
                </td>
                <td>
                    <input onclick="return false;" type="checkbox" ng-model="admin.isActive">
                </td>
            </tr>
    </tbody>
</table>

