<ul class="nav" id="side-menu">
    <li>
        <a id="dashboard-menu-item" href="{% url 'alleat_web_management:dashboard' %}"><i class="fa fa-desktop fa-fw"></i> Panel de control</a>
    </li>
    <li>
        <a id="orders-menu-item" href="#"><i class="fa fa-star fa-fw"></i> Mis platos<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a id="pending-orders-menu-item" href="{% url 'alleat_web_management:items' %}"><i class="fa fa-circle-o fa-fw"></i> Listado de platos </a>
            </li>
            <li>
                <a id="ready-orders-menu-item" href="{% url 'alleat_web_management:menus' %}"><i class="fa fa-check-square-o fa-fw"></i> Menús</a>
            </li>
            <li>
                <a id="cancel-orders-menu-item" href="{% url 'alleat_web_management:categories' %}"><i class="fa fa-tag fa-fw"></i> Categorias</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a id="issues-menu-item" href="{% url 'alleat_web_management:restaurants' %}"><i class="fa fa-cutlery fa-fw"></i> Mis restaurantes</a>
    </li>
    <li>
        <a id="accounts-management-menu-item" href="{% url 'alleat_web_management:accounts-management' %}"><i class="fa fa-briefcase fa-fw"></i> Gestión de cuentas</a>
    </li>
    <li>
        <a id="orders-menu-item" href="#"><i class="fa fa-info fa-fw"></i> Ayuda<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a id="issues-menu-item" href="{% url 'alleat_web_management:allergens' %}"><i class="fa fa-life-ring fa-fw"></i> Listado de alérgenos</a>
            </li>
            <li>
                <a id="about-menu-item" href="{% url 'alleat_web_management:documentation' %}"><i class="fa fa-cubes fa-fw"></i> Documentación</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-thumb-tack fa-fw"></i> Entradas<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{% url 'alleat_web_management:posts' %}"> Todas las entradas </a>
            </li>
            <li>
                <a href="{% url 'alleat_web_management:new-post' %}"> Añadir nueva</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
</ul>