<ul class="nav navbar-top-links navbar-right">

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a id="account-menu-item" href="{% url 'alleat_web_management:accounts' %}"><i class="fa fa-user fa-fw"></i> Mi cuenta</a>
            </li>
            <li class="divider"></li>
            <li>
                <a id="logout-menu-item" href="{% url 'alleat_web_management:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->