/* Depend on Bootstrap */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    height: 100px;
    z-index: 99;
}

.header-floor {
    top: 0;
    width: 100%;
    height: 100px;
}

.topbar {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.topbar * {
    display: block;
    height: 100%;
}

.topbar-logo {
    float: left;
}

.topbar-logo img {
    padding: 15px;
}

.topbar-menu {
    float: right;
}

.topbar-menu a {
    line-height: 100px;
    float: right;
    padding: 0px 15px 0px 15px;
}

footer, .footer {
    width: 100%;
    color: #363432;
    padding-top: 15px;
    bottom: 0;
    background-color: #D6D6D0;
}

footer .footer-widget {
    padding-bottom: 20px;
}

footer .footer-bottom {
    border-top: solid 1px;
    padding: 10px;
    color: #666663;
}

footer .single-widget {
    font-family: 'Roboto', sans-serif;
    color: #8C8C88;
}

footer .single-widget h2 {
    color: #666663;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
}

footer .single-widget ul li a {
    color: #8C8C88;
    font-size: 14px;
    font-weight: 300;
    padding: 5px;
}

.search-restaurants-jumbotron {
    height: 400px;
    width: 100%;
    background-image: url("/static/alleat_web_public/img/search-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: left;
    font-size: 50px;
}

/* xs */
@media (max-width: 767px) {

    .search-restaurants-jumbotron {
        font-size: 40px;
    }

}


.search-restaurants-jumbotron label {
    margin-left: 10%;
}

.search-restaurants-jumbotron input {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    border-radius: 4px;
    margin-right: 10%;
    margin-left: 10%;
}

.search-restaurants-jumbotron-group {
    position: relative;
    top: 100px;
}

.social-networks {
    margin: 15px 0 15px 0;
    text-align: center;
}

.featured-item {
    font-family: "Droid Sans", sans-serif;
    size: 14px;
    color: rgba(114,98,119,1);
}

.featured-item img {
    width: 100%;
}

.featured-item hr {
    margin-bottom: 0;
    margin-top: 0;
}

.featured-item .featured-item-foot {
    padding-top: 10px;
    padding-bottom: 10px;
}

.featured-item .featured-item-foot p {
    margin: 0;
}

.featured-foot {
    background-color: #F8F5EF;
}

.paperbox {
    margin: 0 15px 15px 15px;
    top: -40px;
    position: relative;
}

.paperbox-img {
    margin: 15px 15px 0 15px;
}

.paperbox-img img {
    border-radius: 120px;
    border: solid #FFFFFF;
}

.paperbox-text {
    background-color: #FFFFFF;
    color: rgba(114,98,119,1);

}

.posts-item {
    background-color: #F8F5EF;
    margin-top:10px;
    padding: 10px;
}

.posts-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.post-content {
    background-color: #F8F5EF;
    padding: 20px;
    margin: 20px;
}

.post-detail p {
    text-align: justify;
}

.post-detail h5 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.post-detail img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.widget h4 {
    text-transform: uppercase;
    padding-bottom: 8px;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.widget-popular-posts ul {
    padding: 0;
}
.widget-popular-posts li {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
}

.widget-popular-posts li:last-child {
    margin: 0;
    padding: 0;
    border: none;
}

.widget-popular-posts .widget-thumb {
    float: left;
    margin-right: 8px;
    border: 3px solid #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.widget-popular-posts .widget-thumb img {
    width: 65px;
    height: 65px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.widget-popular-posts .widget-thumb:hover img {
    opacity: 0.7;
}

.widget-popular-posts .widget-content h5 {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 5px;
    font-weight: 300;
}

.widget-popular-posts .widget-content span {
    color: #bbb;
    font-size: 12px;
}
