{% load staticfiles %}


<div class="row paperbox-img">
  <div class="col-lg-12">
    <img src="{% static '/static/alleat_web_public/img/box_img.jpg' %}">
  </div>
</div>
<div class="row paperbox">
  <div class="col-lg-12 paperbox-text">
    <h4>Buscador de restaurantes</h4>
    <hr>
    <p>Noticia. Haz clic aquí y luego en Editar Noticias para abrir el editor y cambiar el texto. Es un excelente lugar para compartir las novedades de tu empresa con tus usuarios.</p>
  </div>
</div>