{% load staticfiles %}

<div>
  <img src="{% static '/static/alleat_web_public/img/item.png' %}">
</div>
<div class="featured-component">
  <p class="featured-item">McDonalds</p>
  <hr>
  <p class="featured-item">Descubre su carta</p>
</div>