{% load staticfiles %}

<footer class="footer" id="footer"><!--Footer-->
  <section class="container footer-widget">
    <div class="row">
      <div class="col-sm-3">
        <div class="single-widget">
          <h2>Nuestros servicios</h2>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="/management/dashboard">¿Ya trabajas con nosotros? Gestiona tu restaurante</a></li>
            <li><a href="{% url 'home' %}">Buscador de restaurantes</a></li>
            <li><a href="{% url 'posts' %}">Blog</a></li>
            <li><a href="{% url 'sign-up' %}">Registrarse</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="single-widget">
          <h2>Síguenos</h2>
          <ul class="nav nav-pills nav-stacked">
            <li><a target="_blank" href="https://www.facebook.com/allergicucaneat/">Facebook</a></li>
            <li><a target="_blank" href="https://twitter.com/AllergicUCanEat">Twitter</a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCVvh-0MhRkcoieG8X66y-pQ">Youtube</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="single-widget">
          <h2>Contacta con nosotros</h2>
          <p><strong>Correo electrónico:</strong> direccion@allergicucaneat.com</p>
          <p><strong>Teléfono móvil:</strong> 645011513</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="single-widget">
          <h2>Aplicaciones móviles</h2>
          <a><img style="width: 170px" src="{% static '/static/alleat_web_public/img/ios.es.svg' %}"></a>
          <a><img style="width: 170px" src="{% static '/static/alleat_web_public/img/android.es.svg' %}"></a>
        </div>
      </div>
    </div>
  </section>

  <section class="container footer-bottom">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2016 AllergicUCanEat. Todos los derechos reservados.</p>
      </div>
    </div>
  </section>
</footer><!--/Footer-->
