{% load staticfiles %}

<header>
  <nav class="topbar">
    <div class="topbar-logo">
      <a href="{% url 'home' %}"><img src="{% static '/static/alleat_web_public/img/logo-allergic.png' %}"></a>
    </div>
    <div class="topbar-menu">
      <a href="{% url 'sign-up' %}">Registrarse</a>
      <a href="{% url 'posts' %}">Blog</a>
      <a href="{% url 'home' %}">Buscador de restaurantes</a>
    </div>
  </nav>
</header>
<div class="header-floor"></div>