<section class="col-lg-12 search-restaurants-jumbotron">
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <div class="search-restaurants-jumbotron-group">
        <label for="restaurant">Busca tu restaurante</label>
        <input ng-model="searchName" ng-change="updateSearch()" type="text" id="restaurant">
      </div>
    </div>
    <div class="col-lg-2">

    </div>
  </div>
</section>