{% load staticfiles %}


<section class="social-networks">
  <nav>
    <a title="Facebook" alt="AllergicUCanEat Facebook Page" href="https://www.facebook.com/allergicucaneat/">
      <img src="{% static '/static/alleat_web_public/img/facebook_ic.png' %}">
    </a>
    <a title="Twitter" alt="AllergicUCanEat Twitter Profile" href="https://twitter.com/AllergicUCanEat">
      <img src="{% static '/static/alleat_web_public/img/twitter_ic.png' %}">
    </a>
    <a title="Youtube" alt="AllergicUCanEat Youtube Channel" href="https://www.youtube.com/channel/UCVvh-0MhRkcoieG8X66y-pQ">
      <img src="{% static '/static/alleat_web_public/img/youtube_ic.png' %}">
    </a>
  </nav>
</section>