{% extends 'alleat_web_management/base.html' %}

{% block html_id %}accounts{% endblock %}

{% block head_title %} Panel de control {% endblock %}

{% block page_title %} Mi cuenta {% endblock %}

{% block page_body_content %}

<div class="row">
    <div class="col-lg-6">
        {% include 'alleat_web_management/includes/change_password.html' %}
    </div>
    <div class="col-lg-6">

    </div>
</div>

{% endblock %}