{% extends 'alleat_web_management/base.html' %}
{% load staticfiles %}

{% block html_id %}accounts-management{% endblock %}

{% block head_title %} Gestión de cuentas {% endblock %}

{% block page_title %} Gestión de cuentas {% endblock %}

{% block app_js %}

<script type="text/javascript" src="{% static '/static/alleat_web_management/js/app/controllers/accounts-management-ctrl.js' %}"></script>

{% endblock %}

{% block page_body_content %}

<div ng-controller="AccountsManagementCtrl" ng-init="initCtrl()">

    <div class="row">
        <div class="col-lg-6">
            {% include 'alleat_web_management/includes/add_user.html' %}
        </div>
        <div class="col-lg-6">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>Administradores</h3>
            {% include 'alleat_web_management/includes/edit_client_list.html' %}
        </div>
    </div>

</div>


{% endblock %}