{% extends 'alleat_web_management/base.html' %}

{% block html_id %}allergens{% endblock %}

{% block head_title %} Alérgenos {% endblock %}

{% block page_title %} Alérgenos {% endblock %}

{% block page_body_content %}
<div class="row" style="text-align: center;">
    <div class="col-lg-4">
        <img class="img-circle" width="140" height="140" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        <h2>Gluten</h2>
        <p></p>
    </div>
    <div class="col-lg-4">
        <img class="img-circle" width="140" height="140" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        <h2>Crustáceos</h2>
        <p></p>
    </div>
    <div class="col-lg-4">
        <img class="img-circle" width="140" height="140" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        <h2>Huevos</h2>
        <p></p>
    </div>
</div>
<div class="row" style="text-align: center;">
    <div class="col-lg-4">
        <img class="img-circle" width="140" height="140" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        <h2>Pescados</h2>
        <p></p>
    </div>
    <div class="col-lg-4">
        <img class="img-circle" width="140" height="140" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        <h2>Cacahuetes</h2>
        <p></p>
    </div>
    <div class="col-lg-4">
        <img class="img-circle" width="140" height="140" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        <h2>Soja</h2>
        <p></p>
    </div>
</div>
<div class="row" style="text-align: center;">
    <div class="col-lg-4">
        <img class="img-circle" width="140" height="140" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        <h2>Leche</h2>
        <p></p>
    </div>
    <div class="col-lg-4">
        <img class="img-circle" width="140" height="140" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        <h2>Frutos de cáscara</h2>
        <p></p>
    </div>
    <div class="col-lg-4">
        <img class="img-circle" width="140" height="140" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        <h2>Apio</h2>
        <p></p>
    </div>
</div>
<div class="row" style="text-align: center;">
    <div class="col-lg-4">
        <img class="img-circle" width="140" height="140" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        <h2>Mostaza</h2>
        <p></p>
    </div>
    <div class="col-lg-4">
        <img class="img-circle" width="140" height="140" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        <h2>Sésamo</h2>
        <p></p>
    </div>
    <div class="col-lg-4">
        <img class="img-circle" width="140" height="140" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        <h2>Sulfitos</h2>
        <p></p>
    </div>
</div>
<div class="row" style="text-align: center;">
    <div class="col-lg-4">
        <img class="img-circle" width="140" height="140" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        <h2>Altramuces</h2>
        <p></p>
    </div>
    <div class="col-lg-4">
        <img class="img-circle" width="140" height="140" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        <h2>Moluscos</h2>
        <p></p>
    </div>
    <div class="col-lg-4">

    </div>
</div>

{% endblock %}