{% extends 'alleat_web_management/base.html' %}
{% load staticfiles %}

{% block html_id %}categories{% endblock %}

{% block head_title %} Listado de categorías {% endblock %}

{% block page_title %} Listado de categorías {% endblock %}

{% block app_js %}

<script type="text/javascript" src="{% static '/static/alleat_web_management/js/app/controllers/categories-ctrl.js' %}"></script>

{% endblock %}

{% block page_breadcrumb %}

{% endblock %}

{% block page_body_content %}

<div ng-controller="CategoriesCtrl" ng-init="initList()">
    <div class="row">
        <div class="col-lg-4">
            <select ng-change="changeSelectedRestaurant(restaurant.pk)" class="form-control" ng-model="restaurant.pk" style="margin-bottom: 20px"
                    ng-options="restaurant.pk as restaurant.name for restaurant in restaurantOptions">
                <option value="" selected>Mis restaurantes</option>
            </select>
        </div>
        <div class="col-lg-8">

        </div>
    </div>
    <div class="row" >
        <div class="col-lg-12">
            <div class="panel panel-default" ng-repeat="category in filterCategories">
                <div class="panel-heading">
                    <input type="text" class="input-readonly" size="50" ng-model="category.alias">

                    <button ng-click="saveCategory(category.pk, category.name, category.alias)" class="btn btn-primary pull-right button-edit"><i class="fa fa-save fa-fw"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}