{% extends 'alleat_web_management/base.html' %}

{% block html_id %}documentation{% endblock %}

{% block head_title %} Documentación {% endblock %}

{% block page_title %} Documentación {% endblock %}

{% block page_body_content %}
<div class="row">
    <div class="col-lg-12">
       AllEat Beta 2.
    </div>
</div>


{% endblock %}