{% extends 'alleat_web_management/base.html' %}
{% load staticfiles %}

{% block html_id %}item-detail{% endblock %}

{% block head_title %} Detalle del plato {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/static/alleat_web_management/css/cropit.css' %}" >
{% endblock %}

{% block page_title %} Detalle del plato {% endblock %}

{% block app_js %}

<script type="text/javascript" src="{% static '/static/alleat_web_management/js/app/controllers/item-ctrl.js' %}"></script>

{% endblock %}

{% block page_body_content %}

<form ng-controller="ItemCtrl" ng-submit="saveItem()" ng-init="initDetail()">
    {% csrf_token %}

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <input class="form-control" ng-model="item.name" placeholder="Nombre" name="name" id="name">
            </div>
            <div class="form-group">
                <textarea rows="3" cols="40" ng-model="item.description" class="form-control" placeholder="Descripción" name="description" id="description"></textarea>
            </div>
            <div class="form-group">
                <input class="form-control" ng-model="item.price" step="0.01" min="0.01" type="number" placeholder="Precio" name="price" id="price">
            </div>
            <div class="form-group">
                <label>Categorías</label>
                <tags-input ng-model="categoryTags">
                    <auto-complete source="loadTags($query)"></auto-complete>
                </tags-input>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <select ng-change="loadCategoryTagOptions()" class="form-control" id="category-tag-select" name="restaurant" ng-model="item.restaurant"
                        ng-options="restaurant.pk as restaurant.name for restaurant in restaurantOptions">
                    <option value="" disabled selected>Selecciona mi restaurante</option>
                </select>
            </div>
            <div class="form-group">
                <label>Imagen principal</label>
            </div>

            <div class="image-editor">
              <div class="cropit-image-preview"></div>
              <div class="image-size-label">
                Zoom
              </div>
              <input type="range" class="cropit-image-zoom-input">
              <input id="main-image" file-model="item.main_photo" type="file" class="cropit-image-input" name="image">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <h2>Alérgenos</h2>
                <div class="row" ng-repeat="allergenRow in allergenOptions">
                    <div class="col-lg-3" ng-repeat="allergen in allergenRow">
                        {% verbatim %}
                        <label>{{ allergen.name }}
                            <button uib-popover-html="allergen.possiblyAllergenContentDescriptionHTML" popover-title="Alimentos que pueden contener este alergeno" type="button" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-exclamation-sign"></span></button>

                            <button uib-popover-html="allergen.allergenContentDescriptionHTML" popover-title="Alimentos que con toda seguridad contienen este alergeno" type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-ban-circle"></span></button>
                        </label>
                        {% endverbatim %}
                            <select class="form-control" id="category-tag-select" name="allergen" ng-model="allergen.state"
                                    ng-options="state.code as state.displayedName for state in allergenStates">
                            </select>
                        <br>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-default">Guardar</button>
            <button type="reset" class="btn btn-default">Limpiar informacion</button>
        </div>
    </div>

</form>

{% endblock %}

{% block extra_js %}
    <script src="{% static '/static/alleat_web_management/js/jquery.cropit.js' %}"></script>
    <script src="{% static '/static/alleat_web_management/js/mycropit.js' %}"></script>
{% endblock %}