{% extends 'alleat_web_management/base.html' %}
{% load staticfiles %}

{% block html_id %}items{% endblock %}

{% block head_title %} Mis platos {% endblock %}

{% block page_title %} Mis platos {% endblock %}

{% block app_js %}

<script type="text/javascript" src="{% static '/static/alleat_web_management/js/app/controllers/item-ctrl.js' %}"></script>

{% endblock %}

{% block page_body_content %}
<div ng-controller="ItemCtrl" ng-init="initList()">
    <div class="row">
        <div class="col-lg-4">
            <select ng-change="changeSelectedRestaurant(restaurant.pk)" class="form-control" ng-model="restaurant.pk" style="margin-bottom: 20px"
                    ng-options="restaurant.pk as restaurant.name for restaurant in restaurantOptions">
                <option value="" selected>Mis restaurantes</option>
            </select>
        </div>
        <div class="col-lg-8">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" ng-repeat="item in filterItems">
                <div class="panel-heading">
                    <input type="text" class="input-readonly" size="50" ng-model="item.name" readonly>

                    <button ng-click="removeItem(item.pk)" class="btn btn-danger pull-right button-edit"><i class="fa fa-remove fa-fw"></i></button>
                    <button ng-click="changeItem(item.pk)" class="btn btn-default pull-right button-edit"><i class="fa fa-edit fa-fw"></i></button>
                </div>
            </div>

            <a href="{% url 'alleat_web_management:new-item' %}" class="btn btn-default pull-right">Añadir nuevo plato</a>
        </div>
    </div>
</div>


{% endblock %}