{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" id="butchery-login">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static '/static/alleat_web_management/css/bootstrap.min.css' %}" >
    <!-- MetisMenu CSS -->
    <link rel="stylesheet" href="{% static '/static/alleat_web_management/css/metisMenu.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static '/static/alleat_web_management/css/sb-admin-2.css' %}">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{% static '/static/alleat_web_management/css/font-awesome.min.css' %}" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Por favor, identifícate</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post">
                            {% csrf_token %}
                            <fieldset>
                                {% for error in errors %}
                                    {% if errors %}
                                <p class="text-danger">{{ error }}</p>
                                    {% endif %}
                                {% endfor %}
                                <div class="form-group">
                                    <input id="username" class="form-control" placeholder="Email" name="username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input id="password" class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <button id="submit-login" type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery Version 1.11.0 -->
    <script src="{% static '/static/alleat_web_management/js/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static '/static/alleat_web_management/js/bootstrap.min.js' %}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static '/static/alleat_web_management/js/metisMenu.min.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static '/static/alleat_web_management/js/sb-admin-2.js' %}"></script>

</body>

</html>