{% extends 'alleat_web_management/base.html' %}
{% load staticfiles %}

{% block html_id %}menu-detail{% endblock %}

{% block head_title %} Detalle del menú {% endblock %}

{% block page_title %} Detalle del menú {% endblock %}

{% block app_js %}

<script type="text/javascript" src="{% static '/static/alleat_web_management/js/app/controllers/menu-ctrl.js' %}"></script>

{% endblock %}

{% block page_body_content %}

<form ng-controller="MenuCtrl" ng-submit="saveMenu()" ng-init="initDetail()">
    {% csrf_token %}

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <input class="form-control" ng-model="menu.name" placeholder="Nombre" name="name" id="name">
            </div>

        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <select ng-change="changeSelectedRestaurant(menu.restaurant)" class="form-control" id="category-tag-select"
                        name="restaurant" ng-model="menu.restaurant"
                        ng-options="restaurant.pk as restaurant.name for restaurant in restaurantOptions">
                    <option value="" disabled selected>Selecciona mi restaurante</option>
                </select>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group" ng-repeat="category in filterCategories">
                <button ng-model="category.state" type="button" class="btn btn-info" uib-btn-checkbox>
                    {% verbatim %}
                    {{ category.name }}
                    {% endverbatim %}
                </button>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-default">Guardar</button>
            <button type="reset" class="btn btn-default">Limpiar informacion</button>
        </div>
    </div>


</form>

{% endblock %}