{% extends 'alleat_web_management/base.html' %}
{% load staticfiles %}

{% block html_id %}post-detail{% endblock %}

{% block head_title %} Entrada {% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static '/static/alleat_web_management/css/croppie.css' %}" >
<link rel="stylesheet" href="{% static '/static/alleat_web_management/css/bootstrap-markdown.min.css' %}" >
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/github.min.css">
<link rel="stylesheet" href="{% static '/static/alleat_web_management/css/angular-markdown-editor.css' %}" >

{% endblock %}

{% block app_js %}

  <script type="text/javascript" src="{% static '/static/alleat_web_management/js/app/controllers/posts-ctrl.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/alleat_web_management/js/app/directives/ng-file-model-directive.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/alleat_web_management/js/app/directives/ng-croppie-directive.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/alleat_web_management/js/angular-sanitize.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/alleat_web_management/js/marked.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/alleat_web_management/js/angular-marked.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/alleat_web_management/js/bootstrap-markdown.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/alleat_web_management/js/bootstrap-markdown.es.js' %}"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
  <script type="text/javascript" src="{% static '/static/alleat_web_management/js/angular-highlightjs.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/alleat_web_management/js/app/directives/angular-markdown-editor.js' %}"></script>


{% endblock %}

{% block page_title %} Entrada {% endblock %}

{% block page_body_content %}

  {% verbatim %}
<div ng-controller="PostCtrl" ng-init="initDetail()">
  <div class="row" ng-if="alerts">
    <div class="col-lg-12">
      <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="form-group">
        <input class="form-control" ng-model="post.title" placeholder="Introduce el título aquí">
      </div>
      <div class="form-group">
        <textarea   name="editor1" class="content-box" style="background: #ffffff"
                    ng-model="post.body"
                    markdown-editor="{'iconlibrary': 'fa', resize: 'vertical', language: 'es', hiddenButtons: ['cmdImage', 'cmdCode', 'cmdQuote']}"
                    on-fullscreen="onFullScreenCallback()"
                    on-fullscreen-exit="onFullScreenExitCallback()"
                    rows="12" >
        </textarea>
      </div>
      <div class="form-group">
        <h3>Extracto</h3>
        <div class="form-group">
          <textarea placeholder="Los extractos son resúmenes opcionales de tu contenido..." rows="4"
                    ng-model="post.summary" class="form-control"></textarea>
        </div>
      </div>

    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12">
          <select class="form-control" ng-model="post.state" style="margin-bottom: 20px"
                  ng-options="state.value as state.displayName for state in stateOptions.choices">
            <option value="" selected>Estado</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ng-croppie src="post.mainPhoto" ng-model='outputImage' mousezoom="true" zoom="true"></ng-croppie>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="btn-group" role="group">
            <label class="btn btn-default btn-file">
              Subir foto <input fileread="post.mainPhoto" type="file" style="display: none;">
            </label>
            <button ng-click="savePost()" class="btn btn-success">Guardar</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}
{% endblock %}