{% extends 'alleat_web_management/base.html' %}
{% load staticfiles %}

{% block html_id %}posts{% endblock %}

{% block head_title %} Entradas {% endblock %}

{% block app_js %}

<script type="text/javascript" src="{% static '/static/alleat_web_management/js/app/controllers/posts-ctrl.js' %}"></script>

{% endblock %}

{% block page_title %} Entradas {% endblock %}

{% block page_body_content %}
<div ng-controller="PostCtrl" ng-init="initList()">
  <div class="row">
    <div class="col-lg-4">
      <select ng-change="changeSelectedState(state.pk)" class="form-control" ng-model="postState.pk" style="margin-bottom: 20px"
              ng-options="state.id as state.displayName for state in stateOptions.choices">
          <option value="" selected>Estado</option>
      </select>
    </div>
    <div class="col-lg-8">

    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default" ng-repeat="post in posts">
        <div class="panel-heading">
          <input type="text" class="input-readonly" size="50" ng-model="post.title" readonly>

          <button ng-click="updatePost(post.pk)" class="btn btn-default pull-right button-edit"><i class="fa fa-edit fa-fw"></i></button>
          <button popover-placement="top" uib-popover-template="dynamicPopover.templateUrl" type="button" class="btn btn-danger pull-right button-edit"><i class="fa fa-remove fa-fw"></i></button>

        </div>
      </div>

      <script type="text/ng-template" id="myPopoverTemplate.html">
        <div class="form-group text-center">
          <label>¿Estás seguro?</label><br>
          <button ng-click="removePost(post.pk)" class="btn btn-success fa fa-check-circle"></button>
        </div>
      </script>

      <a href="{% url 'alleat_web_management:new-post' %}" class="btn btn-default pull-right">Añadir nueva entrada</a>
    </div>
  </div>

</div>

{% endblock %}