{% extends 'alleat_web_management/base.html' %}
{% load staticfiles %}

{% block html_id %}restaurants{% endblock %}

{% block head_title %} Mis restaurantes {% endblock %}

{% block page_title %} Mis restaurantes {% endblock %}

{% block app_js %}

<script type="text/javascript" src="{% static '/static/alleat_web_management/js/app/controllers/restaurants-ctrl.js' %}"></script>

{% endblock %}

{% block page_body_content %}
<div class="row" ng-controller="RestaurantsCtrl">
    <div class="col-lg-12">
        <div class="panel panel-default" ng-repeat="restaurant in restaurants">
            <div class="panel-heading">
                <input type="text" class="input-readonly" size="50" ng-model="restaurant.name">

                <button title="Eliminar" ng-click="removeRestaurant(restaurant.pk)"  class="btn btn-danger pull-right button-edit"><i class="fa fa-remove fa-fw"></i></button>
                <button title="Guardar cambios" ng-click="saveRestaurant(restaurant.pk, restaurant.name)" class="btn btn-primary pull-right button-edit"><i class="fa fa-save fa-fw"></i></button>
                <button title="Código QR" ng-click="generateQRCode(restaurant.pk, restaurant.qrCode)" class="btn btn-default pull-right button-edit"><i class="fa fa-qrcode fa-fw"></i></button>
            </div>
        </div>

        <div class="panel panel-default" ng-if="show_new_restaurant">
            <div class="panel-heading">
                <input type="text" class="input-readonly" size="50" ng-model="new_restaurant.name" placeholder="Nombre del restaurante">

                <button title="Cancelar" ng-click="cancelNewRestaurant()" class="btn btn-danger pull-right button-edit"><i class="fa fa-remove fa-fw"></i></button>
                <button title="Guardar" ng-click="saveNewRestaurant()" class="btn btn-primary pull-right button-edit"><i class="fa fa-save fa-fw"></i></button>
            </div>
        </div>

        <button type="button" ng-click="newRestaurant()" class="btn btn-default pull-right">Añadir nuevo restaurante</button>
    </div>
</div>


{% endblock %}