{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" id="{% block html_id %}default-page{% endblock %}">
<head>
  <meta charset="UTF-8">
  <title>{% block head_title %}My site title{% endblock %}</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="{% static '/static/alleat_web_public/css/bootstrap.min.css' %}" >
  <link rel="stylesheet" href="{% static '/static/alleat_web_public/css/alleat-web-public.css' %}" >
  {% block css %}{% endblock %}

  <script type="text/javascript" src="{% static '/static/alleat_web_public/js/lib/angular.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/alleat_web_management/js/angular-cookies.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/alleat_web_public/js/lib/ui-bootstrap-tpls.min.js' %}"></script>

  <script type="text/javascript" src="{% static '/static/alleat_web_public/js/app/app.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/alleat_web_public/js/app/services/alleat-api-service.js' %}"></script>

  <script type="text/javascript" src="{% static '/static/alleat_web_public/js/lib/angular-sanitize.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/alleat_web_public/js/lib/showdown.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/alleat_web_public/js/app/filters/angular-markdown-filter.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/alleat_web_public/js/lib/angular-facebook.min.js' %}"></script>

  {% block angularjs_controller %}{% endblock %}

</head>
<body ng-app="alleatApp">

{% include 'alleat_web_public/includes/header.html' %}

{% block body_content %}Body content goes here ...{% endblock %}

{% include 'alleat_web_public/includes/footer.html' %}

</body>
</html>