{% extends 'alleat_web_public/base.html' %}
{% load staticfiles %}

{% block html_id %}home{% endblock %}

{% block head_title %} Inicio {% endblock %}

{% block angularjs_controller %}

  <script type="text/javascript" src="{% static '/static/alleat_web_public/js/app/controllers/home-ctrl.js' %}"></script>

{% endblock %}

{% block body_content %}

<div class="container-fluid" ng-controller="HomeCtrl" ng-init="initPage()">

  <div class="row">
    {% include 'alleat_web_public/includes/search_restaurants_jumbotron.html' %}
  </div>

  <div class="row">
    <div class="col-lg-5">

    </div>
    <div class="col-lg-2">
      {% include 'alleat_web_public/includes/social_networks_box.html' %}
    </div>
    <div class="col-lg-5">

    </div>
  </div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div ng-repeat="row in rows" class="row">
        <div class="col-lg-6 featured-item">
          <div>
            <img src="{% static '/static/alleat_web_public/img/item.png' %}">
          </div>
          <div class="featured-item-foot">
            {% verbatim %}
            <p>{{ row.col1.name }}</p>
            {% endverbatim %}
            <hr>
            <p>Descubre su carta</p>
          </div>
        </div>
        <div ng-if="row.col2 != null" class="col-lg-6 featured-item">
          <div>
            <img src="{% static '/static/alleat_web_public/img/item.png' %}">
          </div>
          <div class="featured-item-foot">
            {% verbatim %}
            <p>{{ row.col2.name }}</p>
            {% endverbatim %}
            <hr>
            <p>Descubre su carta</p>
          </div>
        </div>
        <div ng-if="row.col2 == null" class="col-lg-6"></div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <div class="row featured-foot">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-4">
          {% include 'alleat_web_public/includes/featured_paperbox.html' %}
        </div>
        <div class="col-lg-4">
          {% include 'alleat_web_public/includes/featured_paperbox.html' %}
        </div>
        <div class="col-lg-4">
          {% include 'alleat_web_public/includes/featured_paperbox.html' %}
        </div>
      </div>
    </div>
    <div class="col-lg-2">

    </div>
  </div>


</div>

{% endblock %}