{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" style="background-image: url({% static '/static/alleat_web_public/images/background.jpg' %});background-size: 100%;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Inicio</title>

<link href="{% static '/static/alleat_web_public/css/style.css' %}" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="{% static '/static/alleat_web_public/js/jquery.min.js' %}"></script>
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">


</head>
<body>
<div class="transy"></div>
<div class="wrapper">
    <div class="centered">
        <div class="header">
            <h1 id="logo">AllergicUCanEat</h1>
            <p class="line1">- ¿Tienes una alergia alimenticia? ¿Problemas para encontrar un sitio donde comer? -</p>
        </div>

        <div class="content">
                <p>Estamos trabajando en algo muy interesante.</p>
        </div>


        <div class="form">
            <p>Si quieres que te informemos de las novedades, ponte en contacto con nosotros a través de direccion@allergicucaneat.com
              o mediante las redes sociales.</p>
        </div>



        <div class="social">
        <p>
            <a href="https://twitter.com/AllergicUCanEat"><span class="socicon-twitter"></span></a>
            <a href="https://www.facebook.com/allergicucaneat"><span class="socicon-facebook"></span></a>
        </p>
        </div>
    </div>
</div>



        <script type="text/javascript">
var placeholder = $("#test").val();

$("#test").keydown(function() {
    if (this.value == placeholder) {
        this.value = '';
    }
}).blur(function() {
    if (this.value == '') {
        this.value = placeholder;
    }
});
</script>


</body>

</html>