{% extends 'alleat_web_public/base.html' %}
{% load staticfiles %}

{% block html_id %}posts{% endblock %}

{% block angularjs_controller %}

  <script type="text/javascript" src="{% static '/static/alleat_web_public/js/app/controllers/posts-ctrl.js' %}"></script>

{% endblock %}

{% block head_title %} Blog {% endblock %}

{% block body_content %}
<div class="container" ng-controller="PostsCtrl" ng-init="initPage()">
  <div class="row posts">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h1>Últimas entradas</h1>
      {% verbatim %}
      <div class="row" ng-repeat="post in posts">
        <div class="col-lg-12 posts-item">
          <div>
            <a href="/posts/{{ post.pk }}/"><img ng-src="{{ post.mainPhoto }}"></a>
          </div>
          <div class="">
            <a href="/posts/{{ post.pk }}/"><h2 class="">{{ post.title }}</h2></a>
            <p class="">{{ post.summary }}</p>
          </div>
        </div>
      </div>
      {% endverbatim %}
      <div class="row">
        <div class="col-lg-12">
          <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3"></div>

  </div>
</div>

{% endblock %}