{% extends 'alleat_web_public/base.html' %}
{% load staticfiles %}

{% block html_id %}post-detail{% endblock %}

{% block angularjs_controller %}

  <script type="text/javascript" src="{% static '/static/alleat_web_public/js/lib/i18n/angular-locale_es-es.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/alleat_web_public/js/app/controllers/post-detail-ctrl.js' %}"></script>

{% endblock %}

{% block head_title %} Post {% endblock %}

{% block body_content %}
  <div class="container" ng-controller="PostDetailCtrl" ng-init="initPage()">
    <div class="row">
    {% verbatim %}
      <div class="col-lg-12 post-content">
        <!-- title -->
        <div class="row">
          <div class="col-lg-12">
            <h1>{{ post.title }}</h1>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 post-detail">
            <div>
              <img ng-src="{{ post.mainPhoto }}">
            </div>
            <div>
              <h2>Artículo</h2>
              <div ng-bind-html="post.body | markdown"></div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="widget widget-popular-posts">
              <h3>Últimos Post <span class="head-line"></span></h3>
              <ul>
                <li ng-repeat="lastPost in lastPosts">
                  <div class="widget-thumb">
                    <a href="#"><img ng-src="{{ lastPost.mainPhoto }}"></a>
                  </div>
                  <div class="widget-content">
                    <h5><a href="#">{{ lastPost.title }}</a></h5>
                    <span>{{ lastPost.lastModified | date:'medium' }}</span>
                  </div>
                  <div class="clearfix"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endverbatim %}
    </div>
  </div>
{% endblock %}