{% extends 'alleat_web_public/base.html' %}
{% load staticfiles %}

{% block html_id %}sign-up{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/static/alleat_web_public/css/font-awesome.min.css' %}" >
  <link rel="stylesheet" href="{% static '/static/alleat_web_public/css/bootstrap-social.css' %}" >
{% endblock %}

{% block angularjs_controller %}
  <script type="text/javascript" src="{% static '/static/alleat_web_public/js/app/controllers/sign-up-ctrl.js' %}"></script>
{% endblock %}

{% block head_title %} Registrarse {% endblock %}

{% block body_content %}

<div style="min-height: 400px" class="container" ng-controller="SingUpCtrl" ng-init="initPage()">
  <div class="row">
    <div class="col-lg-12">
      <h1>AllergicUCanEat.com</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <p><strong>AllergicUCanEat.com ofrece un servicio a sus clientes bla bla bla. Por favor, regístrate en el panel de la derecha.</strong></p>

      <ul>
        <li>
          <a href="{% url 'home' %}">Buscar restaurantes en AllergicUCanEat.com</a> (no se requiere iniciar sesión)</li>
        <li><a href="{% url 'posts' %}" rel="nofollow noreferrer" target="_blank">Mantente informado leyendo los artículos de nuestro Blog</a></li>
        <li><a href="">AllergicUCanEat.com Contacto</a></li>
      </ul>
      <h2>Regístrate o inicia sesión con</h2>
      <div class="form-group">
        <button ng-click="login()" class="btn btn-social-icon btn-facebook">
          <span class="fa fa-facebook"></span>
        </button>
        <button class="btn btn-social-icon btn-twitter">
          <span class="fa fa-twitter"></span>
        </button>
        <button class="btn btn-social-icon btn-google">
          <span class="fa fa-google"></span>
        </button>
      </div>
    </div>
    <div class="col-lg-6 ">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Registrarse</h3>
        </div>
        <div class="panel-body">
          <div class="input-group">
            <span class="input-group-addon" id="sizing-addon1">@</span>
            <input class="form-control" type="email" placeholder="Correo electrónico"/>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="sizing-addon1">@</span>
            <input class="form-control" type="email" placeholder="Confirma el correo electrónico"/>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">Acepto los términos y condiciones, política de privacidad de AllergicUCanEat.</label>
          </div>
          <button class="btn btn-success">Regístrate</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}